---
title: BasisQualifikation-IT
---
<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/_assets/normalize.css' | relativeUrl(page)}}">
    <link rel="stylesheet" href="{{ '/_assets/styles.css' | relativeUrl(page)}}">
    <title>{{ title }}</title>
  </head>
  <body>
    {% if shortUrl %}
      <div class="short-url">
        <p class="short-url-href">{{ shortUrl }}</p>
        <p>Geben Sie diese Web-Adresse in einem Web-Browser ein, um die online Version der Übungen zu sehen. Dort können Sie den genannten Verweisen folgen.</p>
      </div>
    {% endif %}
    <h1>{{ title }}</h1>
    {% if isTest %}
      <table class="test-header">
        <tr>
          <td>Datum:</td>
          <td></td>
        </tr>
        <tr>
          <td>Name:</td>
          <td></td>
        </tr>
      </table>
    {% endif %}
    <hr>
    {{ content | safe }}
  </body>
</html>