---
layout: layout.njk
---
<h2>Übungen</h2>
<ul>
{%- for item in collections.uebungen -%}
  <li><a href="{{ item.url | relativeUrl(page) }}">{{ item.data.title }}</a></li>
{%- endfor -%}
</ul>

<h2>Tests</h2>
<ul>
{%- for item in collections.tests -%}
  <li><a href="{{ item.url | relativeUrl(page) }}">{{ item.data.title }}</a></li>
{%- endfor -%}
</ul>